{% extends 'accounts/main.html' %}


{% block content %}
<div class="row">
	<div class="col-md mx-5">
		<h5>CUSTOMERS: {{total_customers}}</h5>
		
            <a class='btn btn-sm btn-info rounded-pill'href="{% url 'customer_form' %}">Add Customer +</a>
            <div class="card card-body my-2">
			<table class="table table-sm">
				<tr>
				    <th>No</th>
					<th>Customer</th>
					<th>Phone no</th>
                    <th>Email</th>
                    <th>Info</th>
				</tr>
				{% for customer in customers%}
				<tr>
				    <td>{{customer.id}}</td>
					<td>{{customer.name}}</td>
					<td>{{customer.phone}}</td>
                    <td>{{customer.email}}</td>
                    <td><a class="btn btn-outline-info" href="{% url 'customer' customer.id %}">Info</a></td>

				</tr>
				{% endfor %}
				

			</table>
		</div>
	</div>
    {% endblock %}