

<style>
 .hello{
   color: #fff;
   font-size: 18px;
   margin-right: 20px;
 }

 .LOGO{
 font-size:20px;
   text-decoration: wavy;
 }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!--img src="/images/store_logo.png" alt="..." class="img-thumbnail"!-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="LOGO"><span class="multicolortext"> <span style="color:#FF0000">M</span>
          <span style="color:#66CC66">A</span>
          <span style="color:#FF9966">N</span>
          <span style="color:#FFCCCC">A</span>
          <span style="color:#FF0066">G</span>
          <span style="color:#5c444e">E</span>
          <span style="color:#66CC66">-</span>
          <span style="color:#FF9966">M</span>
          <span style="color:#FFCCCC">A</span>
          <span style="color:#FF0066">R</span>
          <span style="color:#5c444e">T</span>
          <span></li>
        <li>SPACE</li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}" style="color:#fdfdfc" >Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product' %}" style="color:#fdfdfc">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customers_list' %}" style="color:#fdfdfc ">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stats'%}" style="color:#fdfdfc">Stats</a>
        </li>

       
        
      </ul>
    </div>
  </div>
 

  
</nav>